* {
	/* simple css reset */
	/* prevents different behaviour on different browsers */
	box-sizing: border-box;
	padding: 0;
	margin: 0;

	/* outline: 0.5px white solid !important; */
	/* background-color: rgb(93 255 129 / 17%); */
}

a {
	text-decoration: inherit;
	color: inherit;
	cursor: pointer;
}

:root {
	--lime: #24e589;
	--green: #004e29;
	--red: #ff6347;
	--accent-0: #000000;
	--accent-1: #333333;
	--accent-2: #666666;
	--accent-3: #cccccc;
	--accent-4: #999999;
	--accent-5: #efefef;
	--accent-6: #ffffff;

	--lime-rgb: 36, 229, 137;

	--red: tomato;
}

input {
	font-family: inherit;
	font-size: inherit;
}

html {
	overflow-y: scroll;
	/* Show vertical scrollbar */
}